.blog-listing-header,.featured-listing-header,.single-petition-header {
 background-image:url(../img/listing-header.jpg);
 background-size:cover;
 background-position:50% 50%;
 position:relative;
 min-height:600px
}
.blog-listing-header .light-shade,.featured-listing-header .light-shade,.single-petition-header .light-shade {
 background:rgba(32,44,65,.85);
 position:absolute;
 bottom:0;
 width:100%;
 padding-bottom:40px
}
.single-petition-header {
 background-image:url(../img/petition-header.jpg)
}
.blog-list,.legendary-story,.petition-list {
 padding-top:6rem
}
.blog-list .blog-item,.blog-list .petition-item,.legendary-story .blog-item,.legendary-story .petition-item,.petition-list .blog-item,.petition-list .petition-item {
 border-radius:4px;
 background-color:#fff;
 box-shadow:0 0 10px 0 #bbb;
 overflow:hidden;
 margin-top:15px;
 margin-bottom:15px;
 transition:.3s
}
.blog-list .blog-item:hover,.blog-list .petition-item:hover,.legendary-story .blog-item:hover,.legendary-story .petition-item:hover,.petition-list .blog-item:hover,.petition-list .petition-item:hover {
 box-shadow:0 0 25px 0 #bbb
}
.blog-list .blog-item .banner img,.blog-list .petition-item .banner img,.legendary-story .blog-item .banner img,.legendary-story .petition-item .banner img,.petition-list .blog-item .banner img,.petition-list .petition-item .banner img {
 width:100%;
 display:block
}
.blog-list .blog-item .contents,.blog-list .petition-item .contents,.legendary-story .blog-item .contents,.legendary-story .petition-item .contents,.petition-list .blog-item .contents,.petition-list .petition-item .contents {
 padding-left:20px;
 padding-right:20px;
 padding-bottom:20px
}
.blog-list .blog-item .contents h5,.blog-list .petition-item .contents h5,.legendary-story .blog-item .contents h5,.legendary-story .petition-item .contents h5,.petition-list .blog-item .contents h5,.petition-list .petition-item .contents h5 {
 margin-bottom:8px;
 line-height:30px
}
.blog-list .blog-item .contents h5 a,.blog-list .blog-item .contents h5 a:active,.blog-list .blog-item .contents h5 a:hover,.blog-list .blog-item .contents h5 a:visited,.blog-list .petition-item .contents h5 a,.blog-list .petition-item .contents h5 a:active,.blog-list .petition-item .contents h5 a:hover,.blog-list .petition-item .contents h5 a:visited,.legendary-story .blog-item .contents h5 a,.legendary-story .blog-item .contents h5 a:active,.legendary-story .blog-item .contents h5 a:hover,.legendary-story .blog-item .contents h5 a:visited,.legendary-story .petition-item .contents h5 a,.legendary-story .petition-item .contents h5 a:active,.legendary-story .petition-item .contents h5 a:hover,.legendary-story .petition-item .contents h5 a:visited,.petition-list .blog-item .contents h5 a,.petition-list .blog-item .contents h5 a:active,.petition-list .blog-item .contents h5 a:hover,.petition-list .blog-item .contents h5 a:visited,.petition-list .petition-item .contents h5 a,.petition-list .petition-item .contents h5 a:active,.petition-list .petition-item .contents h5 a:hover,.petition-list .petition-item .contents h5 a:visited {
 color:#333;
 text-decoration:none
}
.blog-list .blog-item .contents p,.blog-list .petition-item .contents p,.legendary-story .blog-item .contents p,.legendary-story .petition-item .contents p,.petition-list .blog-item .contents p,.petition-list .petition-item .contents p {
 font-size:1.4rem;
 line-height:2.0999999999999996rem;
 margin-bottom:0
}




.blog-list .blog-item .contents .report-info,.blog-list .petition-item .contents .report-info,.legendary-story .blog-item .contents .report-info,.legendary-story .petition-item .contents .report-info,.petition-list .blog-item .contents .report-info,.petition-list .petition-item .contents .report-info {
 margin-top:10px;
 display:flex;
 align-items:center
}
.blog-list .blog-item .contents .report-info .date,.blog-list .blog-item .contents .report-info .reporter,.blog-list .blog-item .contents .report-info .signature-count,.blog-list .petition-item .contents .report-info .date,.blog-list .petition-item .contents .report-info .reporter,.blog-list .petition-item .contents .report-info .signature-count,.legendary-story .blog-item .contents .report-info .date,.legendary-story .blog-item .contents .report-info .reporter,.legendary-story .blog-item .contents .report-info .signature-count,.legendary-story .petition-item .contents .report-info .date,.legendary-story .petition-item .contents .report-info .reporter,.legendary-story .petition-item .contents .report-info .signature-count,.petition-list .blog-item .contents .report-info .date,.petition-list .blog-item .contents .report-info .reporter,.petition-list .blog-item .contents .report-info .signature-count,.petition-list .petition-item .contents .report-info .date,.petition-list .petition-item .contents .report-info .reporter,.petition-list .petition-item .contents .report-info .signature-count {
 width:50%
}
.blog-list .blog-item .contents .report-info .reporter,.blog-list .petition-item .contents .report-info .reporter,.legendary-story .blog-item .contents .report-info .reporter,.legendary-story .petition-item .contents .report-info .reporter,.petition-list .blog-item .contents .report-info .reporter,.petition-list .petition-item .contents .report-info .reporter {
 display:flex;
 align-items:center
}
.blog-list .blog-item .contents .report-info .reporter img,.blog-list .petition-item .contents .report-info .reporter img,.legendary-story .blog-item .contents .report-info .reporter img,.legendary-story .petition-item .contents .report-info .reporter img,.petition-list .blog-item .contents .report-info .reporter img,.petition-list .petition-item .contents .report-info .reporter img {
 border-radius:50%;
 max-width:30px;
 margin-right:8px
}
.blog-list .blog-item .contents .report-info .date,.blog-list .blog-item .contents .report-info .signature-count,.blog-list .petition-item .contents .report-info .date,.blog-list .petition-item .contents .report-info .signature-count,.legendary-story .blog-item .contents .report-info .date,.legendary-story .blog-item .contents .report-info .signature-count,.legendary-story .petition-item .contents .report-info .date,.legendary-story .petition-item .contents .report-info .signature-count,.petition-list .blog-item .contents .report-info .date,.petition-list .blog-item .contents .report-info .signature-count,.petition-list .petition-item .contents .report-info .date,.petition-list .petition-item .contents .report-info .signature-count {
 text-align:right
}
.signature-list-table-area .list-header div:last-child {
 line-height:10rem
}
.signature-list-table-area table tr td img {
 border-radius:50%;
 margin-right:10px;
 max-width:30px
}
.h-line {
 width:25%;
 height:1px;
 background-color:#446cb3;
 margin:15px auto
}
form.petition-form {
 background-color:#fff
.petition-list .progress-wrapper div.progress div.value,.petition-list .progress-wrapper div.progress.small div.value,.signature-list-petition-header .progress-wrapper div.progress div.value,.signature-list-petition-header .progress-wrapper div.progress.small div.value,.single-petition-header .progress-wrapper div.progress div.value,.single-petition-header .progress-wrapper div.progress.small div.value {
 width:67%;
 height:14px;
 border-radius:10px;
 background:#446cb3
}
.petition-list .progress-wrapper div.progress.small,.signature-list-petition-header .progress-wrapper div.progress.small,.single-petition-header .progress-wrapper div.progress.small {
 float:left;
 display:inline-block;
 margin-top:4px;
 width:85%;
 height:6px
}
.petition-list .progress-wrapper div.progress.small div.value,.signature-list-petition-header .progress-wrapper div.progress.small div.value,.single-petition-header .progress-wrapper div.progress.small div.value {
 height:6px
}
.petition-list .progress-wrapper div.progress+span,.signature-list-petition-header .progress-wrapper div.progress+span,.single-petition-header .progress-wrapper div.progress+span {
 float:right;
 display:inline-block;
 color:#446cb3;
 font-size:14px;
 line-height:14px;
 font-weight:700;
 width:14%;
 text-align:right
}
.petition-list .progress-wrapper-white div.progress,.petition-list .progress-wrapper-white div.progress.small,.signature-list-petition-header .progress-wrapper-white div.progress,.signature-list-petition-header .progress-wrapper-white div.progress.small,.single-petition-header .progress-wrapper-white div.progress,.single-petition-header .progress-wrapper-white div.progress.small {
 background:#446cb3
}
.petition-list .progress-wrapper-white div.progress div.value,.petition-list .progress-wrapper-white div.progress.small div.value,.signature-list-petition-header .progress-wrapper-white div.progress div.value,.signature-list-petition-header .progress-wrapper-white div.progress.small div.value,.single-petition-header .progress-wrapper-white div.progress div.value,.single-petition-header .progress-wrapper-white div.progress.small div.value {
 background:#7dacff
}
.petition-list .progress-wrapper-white div.progress+span,.signature-list-petition-header .progress-wrapper-white div.progress+span,.single-petition-header .progress-wrapper-white div.progress+span {
 color:#fff
}
.signature-list-petition-header {
 background-image:url(../img/create-petition-header-bg.jpg)
}
.signature-list-petition-header .light-shade {
 padding-top:10rem;
 padding-bottom:5rem;
 background:rgba(255,255,255,.8)
}
.media-items,.petition-basic,.petition-letters,.petition-updates {
 padding-top:1rem;
 padding-bottom:1rem
}
.media-items h3,.petition-basic h3,.petition-letters h3,.petition-updates h3 {
 color:#446cb3;
 font-weight:300
}
.media-items h3 span,.petition-basic h3 span,.petition-letters h3 span,.petition-updates h3 span {
 -moz-opacity:.2;
 -khtml-opacity:.2;
 -webkit-opacity:.2;
 opacity:.2;
 -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
 filter:alpha(opacity=20)
}
#petition-updates .petition-update {
 margin-bottom:30px;
 position:relative
}
#petition-updates .petition-update .delete-petition-update {
 position:absolute;
 top:-23px;
 right:8px;
 font-size:16px;
 line-height:26px;
 width:22px;
 height:22px;
 text-align:center
}
#petition-updates .petition-update .delete-petition-update:hover {
 color:#e74c3c;
 text-decoration:none
}
#petition-updates .petition-update .delete-petition-update-drag {
 position:absolute;
 top:-23px;
 right:38px;
 font-size:16px;
 line-height:26px;
 font-weight:400;
 width:22px;
 height:22px;
 text-align:center;
 cursor:move!important
}
#petition-updates .petition-update .delete-petition-update-drag:hover {
 color:#446cb3;
 text-decoration:none
}
#petition-updates .petition-update-placeholder {
 position:relative;
 padding:0 0 5px;
 border:1px dashed #446cb3;
 background:#eff1f5;
 min-height:100px;
 border-radius:10px;
 margin-bottom:20px
}
#petition-updates .petition-update-placeholder:before {
 position:absolute
}
#petition-letter {
 margin-bottom:30px
}
#petition-letters-blocks .petition-letter-person {
 position:relative;
 padding:0 0 5px;
 margin-bottom:30px
}
#petition-letters-blocks .petition-letter-person .delete-petition-letter {
 position:absolute;
 top:-23px;
 right:8px;
 font-size:16px;
 font-weight:400;
 line-height:26px;
 width:22px;
 height:22px;
 text-align:center
}
#petition-letters-blocks .petition-letter-person .delete-petition-letter:hover {
 color:#e74c3c;
 text-decoration:none
}
#petition-letters-blocks .petition-letter-person .delete-petition-letter-drag {
 position:absolute;
 top:-23px;
 right:38px;
 font-size:16px;
 line-height:26px;
 font-weight:400;
 width:22px;
 height:22px;
 text-align:center;
 cursor:move!important
}
#petition-letters-blocks .petition-letter-person .delete-petition-letter-drag:hover {
 color:#446cb3;
 text-decoration:none
}
#petition-letters-blocks .petition-letter-person-placeholder {
 position:relative;
 padding:0 0 5px;
 border:1px dashed #446cb3;
 background:#eff1f5;
 min-height:100px;
 border-radius:10px;
 margin-bottom:20px
}
#petition-letters-blocks .petition-letter-person-placeholder:before {
 position:absolute
}
.petition-entry-details {
 padding-bottom:5rem
}
.petition-entry-details .banner.form-group {
 height:25rem;
 line-height:25rem;
 border-radius:10px;
 border:1px solid #446cb3;
 text-align:center
}
.petition-entry-details .banner.form-group input[type=file] {
 display:none
}
.petition-entry-details .banner.form-group input[type=file]+label {
 border:1px solid #446cb3;
 padding:6px 20px;
 border-radius:25px;
 z-index:100;
 color:#446cb3;
 cursor:pointer
}
.petition-entry-details .banner-media.form-group {
 height:15rem;
 line-height:15rem;
 position:relative
}
.petition-entry-details .banner-media.form-group span.banner-media-drag {
 position:absolute;
 top:10px;
 right:20px;
 color:#fff;
 font-size:16px;
 line-height:22px;
 cursor:move!important
}
.petition-entry-details .banner-media.form-group a.media-delete {
 background:#e74c3c;
 color:#fff;
 padding:6px 20px;
 border-radius:25px;
 z-index:100;
 cursor:pointer
}
.petition-entry-details .banner-media.form-group a.media-delete:active,.petition-entry-details .banner-media.form-group a.media-delete:focus,.petition-entry-details .banner-media.form-group a.media-delete:hover {
 text-decoration:none
}
.petition-entry-details .banner-filled.form-group input[type=file]+label {
 background:#446cb3;
 color:#fff
}
.petition-entry-details .banner-filled.form-group input[type=file]+label+a.banner-delete {
 background:#e74c3c;
 color:#fff;
 padding:6px 20px;
 border-radius:25px;
 z-index:100;
 cursor:pointer
}
.petition-entry-details .banner-filled.form-group input[type=file]+label+a.banner-delete:active,.petition-entry-details .banner-filled.form-group input[type=file]+label+a.banner-delete:focus,.petition-entry-details .banner-filled.form-group input[type=file]+label+a.banner-delete:hover {
 text-decoration:none
}
.single-petition {
 background-color:#fff;
 padding-top:6rem;
 padding-bottom:6rem
}
.single-petition .petition-info {
 font-size:1.8rem;
 line-height:2.7rem
}
.single-petition p.small {
 font-size:1.6rem;
 line-height:2.4000000000000004rem
}
.single-petition .meta-info {
 display:flex
}
.single-petition .meta-info .social ul {
 margin-top:10px
}
.single-petition .meta-info .social ul li a {
 border:1px solid transparent;
 color:#fff
}
.single-petition .meta-info .social ul li a:active,.single-petition .meta-info .social ul li a:focus,.single-petition .meta-info .social ul li a:hover {
 border:1px solid transparent
}
.single-petition .meta-info .creatorinfo,.single-petition .meta-info .social {
 width:50%
}
.single-petition .petition-media-items {
 padding-top:5rem;
 padding-bottom:5rem
}
.single-petition .petition-media-items .petition-video-section {
 margin-top:15px;
 margin-bottom:20px
}
.single-petition .petition-media-items .petition-video-section .petition-media-video iframe {
 width:100%;
 max-width:560px;
 height:315px;
 border:0;
 overflow:hidden
}
.single-petition .petition-media-items .petition-video-section .petition-video-info h4 {
 margin-top:0
}
.single-petition .petition-media-items img {
 cursor:pointer
}
.single-petition .recipient-area .recipient-heading {
 margin-top:20px;
 margin-bottom:15px
}
.single-petition .recipient-area .recipient {
 padding:20px;
 border-radius:4px;
 text-align:center;
 margin-bottom:20px;
 background:rgba(187,187,187,.1);
 -webkit-box-shadow:1px 2px 7px 0 #bbb;
 -moz-box-shadow:1px 2px 7px 0 #bbb;
 box-shadow:1px 2px 7px 0 #bbb
}
.letter,.sgnature-listing-area,.updates-area {
 padding-top:6rem;
 padding-bottom:6rem
}
.single-petition .recipient-area .recipient p {
 font-size:1.4rem;
 line-height:2.0999999999999996rem
}
.letter {
 background-color:#202c41
}
.letter .letter-wrapper {
 max-width:660px;
 margin:0 auto
}
.letter .letter-wrapper p {
 font-family:'Dancing Script',cursive;
 font-size:2.2rem;
 line-height:3.3000000000000003rem;
 color:#fff
}
.updates-area {
 min-height:400px;
 background-color:#eff1f5
}
.updates-area .update-news {
 width:100%
}
.updates-area .update-news #updates-carousel {
 margin-top:10px
}
.updates-area .owl-dots {
 position:relative
}
.updates-area .owl-dots:before {
 content:'';
 position:absolute;
 -moz-opacity:.5;
 -khtml-opacity:.5;
 -webkit-opacity:.5;
 opacity:.5;
 -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
 filter:alpha(opacity=50);
 top:10px;
 left:15%;
 width:70%;
 height:5px;
 border-radius:5px;
 background:#446cb3;
 z-index:-222
}
.updates-area .owl-dots .owl-dot span {
 width:12px;
 height:12px;
 background:#446cb3;
 transition:.3s;
 margin:6px 30px;
 -moz-opacity:1;
 -khtml-opacity:1;
 -webkit-opacity:1;
 opacity:1;
 -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
 filter:alpha(opacity=100)
}
.updates-area .owl-dots .owl-dot:hover span {
 background:#446cb3
}
.updates-area .owl-dots .owl-dot.active span {
 background:#446cb3;
 width:16px;
 height:16px;
 margin:4px 26px
}
#petition-media-photos div.banner-media-parent-placeholder {
 position:relative;
 height:15rem;
 line-height:15rem;
 border:1px dashed #446cb3;
 background:#eff1f5;
 display:inline-block;
 border-radius:10px;
 margin:15px 0
}
#petition-media-photos div.banner-media-parent-placeholder:before {
 position:absolute
}
.sgnature-listing-area {
 background-color:#fff
}
.sgnature-listing-area #signatures_cards {
 margin-top:10px
}
.sgnature-listing-area .sign-card {
 display:flex;
 align-items:flex-start;
 width:100%;
 box-shadow:0 0 5px #bbb;
 border-radius:4px;
 padding:10px;
 margin-top:10px;
 margin-bottom:20px
}
.sgnature-listing-area .sign-card:hover {
 box-shadow:0 0 7px #bbb
}
.sgnature-listing-area .sign-card .thumb-photo {
 width:25%
}
.sgnature-listing-area .sign-card .thumb-photo img {
 border-radius:5px
}
.sgnature-listing-area .sign-card .signers-info {
 width:75%;
 padding-left:15px
}
.sgnature-listing-area .sign-card .signers-info h5 {
 margin-top:0;
 margin-bottom:3px;
 font-size:24px;
 line-height:24px
}
.sgnature-listing-area .sign-card .signers-info .date-time {
 font-size:14px;
 line-height:16px;
 color:#666
}
.sgnature-listing-area .sign-card .signers-info .message {
 font-size:1.4rem;
 line-height:2.0999999999999996rem
}
.sgnature-listing-area a.btn.btn-brand {
 margin-top:3rem
}
.sign-this-petition {
 background:0 0
}
.sign-this-petition #signature-form {
 margin-top:5px
}
.sign-this-petition .light-shade {
 background-color:#eff1f5;
 padding-top:6rem;
 padding-bottom:6rem
}
.comments-area {
 background-color:#fff;
 padding-top:6rem;
 padding-bottom:6rem
}
.comments-area .social-comments {
 margin-top:20px
}
.comments-area .social-comments .nav-tabs {
 background:0 0;
 border-bottom:none
}
.comments-area .social-comments .nav-tabs li {
 display:inline
}
.comments-area .social-comments .nav-tabs li a {
 color:#446cb3!important;
 border-radius:25px;
 border:1px solid #446cb3!important;
 font-size:14px;
 line-height:14px;
 padding:10px 30px;
 margin-left:5px;
 margin-right:5px
}